<div class="contenidor">

  <!-- CARREGANT -->
  <div *ngIf="carregant()">
    <div class="spinner"></div>
    <p>Carregant dades...</p>
  </div>

  <!-- ERROR -->
  <div *ngIf="error()">
    <p class="error">
      {{ error() }}
    </p>

    <button (click)="carregarPopulars()">
      Reintentar
    </button>
  </div>

  <!-- CONTINGUT OK -->
  <div *ngIf="!carregant() && !error()">

    <h1>Catàleg de missions</h1>

    <!-- Barra de cerca -->
    <app-barra-cerca
      (cercaCanviada)="cercar($event)">
    </app-barra-cerca>

    <!-- Llista -->
    <app-llista-elements
      [elements]="elements()">
    </app-llista-elements>

  </div>

</div>