<div class="contenidor">

  <!-- ESTAT: CARREGANT -->
  <div *ngIf="carregant">
    <div class="spinner"></div>
    <p class="missatge-info">Carregant dades...</p>
  </div>

  <!-- ESTAT: ERROR -->
  <div *ngIf="error">
    <p class="missatge-error">
      {{ error }}
    </p>

    <button class="btn-reintentar" (click)="carregarPopulars()">
      Reintentar
    </button>
  </div>

  <!-- ESTAT: OK -->
  <div *ngIf="!carregant && !error">

    <h1 class="titol">Catàleg de missions</h1>

    <div class="favorits-counter">
  ⭐ Preferits: {{ preferitsService?.totalPreferits?.() }}
    </div>


    <!-- BARRA DE CERCA
    <app-barra-cerca
      (cercacanviada)="cercar($event)">
    </app-barra-cerca> -->

    <app-formulari-cerca
      (cercaCanviada)="onCerca($event)">
    </app-formulari-cerca>

    <!-- RESULTATS -->
    <app-llista-elements
      [elements]="elements">
    </app-llista-elements>

    <!-- MISSATGE SI NO HI HA RESULTATS -->
    <p *ngIf="elements.length === 0" class="sense-resultats">
      No s’han trobat missions
    </p>

  </div>

</div>
